/*MAPA*/
#container{
    background-image: url('imagenes/New\ Project.gif');
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 700px;
    margin: 50px auto 0 auto;
    position: relative;
    display : none;
    
}
#nave_Player{
    width: 70px;
    height: 70px;
    background-image: url('imagenes/nave.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}
.nave_Enemigos{
    width: 100px;
    height: 100px;
    background-image: url('imagenes/enemigo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.nave_Enemigos2{
    width: 40px;
    height: 40px;
    background-image: url("imagenes/enemigo2.png");    
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.nave_Enemigos3{
    width: 40px;
    height: 40px;
    background-image: url("imagenes/enemigo3.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.disparo{
    background-image: url('imagenes/disparo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 15px;
    position : absolute
}

.meteorito{
    width: 40px;
    height: 40px;
    background-image: url("imagenes/meteorito.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

.pantalla_Inicio{
    width: 100%;
    height: 800px;
    background-color: blue;
}

.flex{
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: bisque;
}

.arcade{
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/arcade.jpg);

}